name: Build PR

on:
  pull_request:
    types:
      - opened
      - synchronize
      - labeled
    
jobs:
  build_amd64:
    runs-on: ubuntu-20.04
    if: |
      github.event.pull_request.state == 'open' &&
      (
        (
          github.event.action == 'labeled' && 
          github.event.label.name == 'safe to publish'
        ) || 
        (
          github.event.action != 'labeled' && 
          contains(github.event.pull_request.labels.*.name, 'safe to publish')
        )
      )
    steps:
    - uses: actions/checkout@v2
    - name: install snapcraft
      run: |
        sudo snap install snapcraft --classic
    - name: build snap
      run: |
        sudo snapcraft --destructive-mode
    - uses: actions/upload-artifact@v2
      with:
        name: snap
        path: freecad*.snap
