# SPDX-License-Identifier: LGPL-2.1-or-later
# SPDX-FileNotice: Part of the FreeCAD project.


name: Publish Daily Qt 6

on:
  schedule:
    # Runs every day at 00:00 UTC.
    - cron: "0 0 * * *"
  workflow_dispatch:
    inputs:
      checkout_ref:
        description: 'The git ref to check out. Defaults to the default branch.'
        required: false
        type: string
      release_channel:
        description: 'The Snap Store channel to release to. Defaults to edge.'
        required: false
        type: string
        default: 'edge'

jobs:
  publish:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-24.04
            arch: amd64
          - os: ubuntu-24.04-arm
            arch: arm64
    uses: ./.github/workflows/reusable-publish.yml
    with:
      os: ${{ matrix.os }}
      # Pass the arch from the matrix to the reusable workflow
      arch: ${{ matrix.arch }}
      # If a checkout_ref is provided by the dispatch, use it. Otherwise, use nothing (which means default branch).
      checkout_ref: ${{ github.event.inputs.checkout_ref }}
      # Use the release_channel from the dispatch input. The default is already 'edge'.
      release_channel: ${{ github.event.inputs.release_channel }}
    secrets:
      store_login: ${{ secrets.STORE_LOGIN }}
